@import "variables.scss";
@import "mixin.scss";
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&family=Open+Sans:wght@400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");


html{
    font-size: 10px;
}
body {
    margin: 0;
    padding: 0;
    &::-webkit-scrollbar{
        background-color: #ddd;
        // border-radius: 8px;
        width: 7px;
        // overflow: hidden;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $darkGreen;
        border-radius: 8px;
    }
    a{
        text-decoration: none;
    }
}

.first__block {
    background-image: url(../img/fon_about_company2.jpg);
}

.catalog_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 1px solid red;
    .cathegory_name {
        margin-top: 80px;
        margin-bottom: 30px;
        background-color: green;
        width: 100%;
        > p {
            margin: 2px auto 5px;
            color: white;
            font-size: 30px;
            font-family: "Exo 2", sans-serif;
            font-weight: 200;
            text-align: center;
        }
    }
    .scroll_wrap{
        width: 99vw;
        display: flex;
        justify-content: center;
        // border: 1px solid red;
        .grid-katalog_block_rul,
        .grid-katalog_block_salf {
            padding:0 50px 0 50px;
            width: 100vw;
            display: flex;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            gap: 40px;
            @include katalog_item();
            &::-webkit-scrollbar{
                background-color: #ddd;
                border-radius: 8px;
                height: 7px;
                // overflow: hidden;
            }
            &::-webkit-scrollbar-thumb{
                background-color: $darkGreen;
                border-radius: 8px;
            }
        }
    }
}

.to_the_top_block {
    position: relative;
    z-index: 100;
    .to_the_top_wrap a {
        position: fixed;
        right: 10px;
        bottom: 10px;
    }
    img {
        width: 20px;
    }
}

