
//  HTML для карточки товара и @mixin katalog_item
// <div class="card_preview">
// <img src="./img/img_catalog/salfetki/230-microfibra-mikrofibra-plotnaya-40-kupit-v-minske-deshevo-optom.jpg" alt="">
// <p>Салфетка 40*40 см<br>(микрофибра 230г/м²)</p>
// <p>(Упаковка 50шт)</p>
// </div>

@mixin katalog_item {
    .card_preview{
        scroll-snap-align: center;
        scroll-snap-stop: normal;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        border-radius: 0 0 50px 0;
        max-width: 230px;
        margin: 50px 0 30px 0;
        box-shadow: 5px 5px 30px 1px rgba(163, 163, 163, 0.26);
        transition: all 200ms ease-in-out;
        >img{
            max-width: 180px;
        }
        :nth-child(2){
            font-family: 'Sousce Sans Pro', sans-serif;
            font-size: 17px;
            text-align: center;
            font-weight: 600;
            color: rgb(46, 46, 46);
        }
        :nth-child(3){
            font-family: 'Sousce Sans Pro', sans-serif;
            font-size: 16px;
            color: rgb(163, 163, 163);
            text-align: center;
            margin-top: -5px;
        }
        &:hover{
            box-shadow: 5px 5px 50px 3px rgba(163, 163, 163, 0.432);
            background-color: white;     
            transform: scale(1.02, 1.02);   
        }
    }
}

